.footer {
  background-color: #111827;
  color: #ffffff;
  padding: 3rem 2rem 1.5rem;
  font-family: "Inter", sans-serif;
}

.topSection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  max-width: 1200px;
  margin: 30px auto;
  padding-bottom: 2rem;
  border-bottom: 1px solid #c8cdd8;
}

.column {
  flex: 1 1 220px;
  min-width: 200px;
}

.logoRow {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.brand {
  font-size: 1.5rem;
  font-weight: 700;
  color: #ffffff;
}

.description {
  color: #9ca3af;
  font-size: 0.95rem;
  line-height: 1.5;
  max-width: 240px;
}

.socialIcons {
  display: flex;
  gap: 0.75rem;
}

.socialIcons a {
  background-color: #f97316;
  color: white;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.socialIcons a:hover {
  background-color: #fb923c;
}

.bottomSection {
  margin-bottom: 60px;
  align-items: center;
  text-align: center;
  font-weight: 200;
}

.logoCircle {
  width: 40px;
  height: 40px;
  background-color: #7e22ce; /* deep purple */
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-family: "Noto Sans Ethiopic", sans-serif; */
}
